<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SatelliteLinkCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>

 <userSettings>
  <SatelliteLinkCalculator.Properties.Settings>
   <setting name="UplinkFrequency" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="UplinkAntennaDiameter" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkAntennaEfficiency" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkTransmitGain" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkPowerAtFeed" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkEIRP" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkRange" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkPathLoss" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkPFD" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkNoiseBandwidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkGT" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkCN" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkFrequency" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkAntennaDiameter" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkAntennaEfficiency" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkReceiveGain" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkRange" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkPathLoss" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkGT" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkCN" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TotalCN" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UpOtherLoss" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkNoiseTemperature" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkOtherLoss" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkCI" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SatelliteCI" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkCI" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ThresholdCNR" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MarginCNR" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SatelliteEIRP" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkNoiseBandwidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SatelliteHeight" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="EarthRadius" serializeAs="String">
    <value>6378</value>
   </setting>
   <setting name="AntennaElevation" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="GeocentricAngle" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="OrbitalPosition" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownGroundStationLongitude" serializeAs="String">
    <value>102.54</value>
   </setting>
   <setting name="DownGroundStationLatitude" serializeAs="String">
    <value>30.05</value>
   </setting>
   <setting name="UpGroundStationLongitude" serializeAs="String">
    <value>104.53</value>
   </setting>
   <setting name="UpGroundStationLatitude" serializeAs="String">
    <value>31.26</value>
   </setting>
   <setting name="UplinkBandwidth" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="UplinkEIRP2" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TransponderBandwidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UpCarrierFallback" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CarrierInputFallback" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UplinkEIRP3" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TransponderInputFallback" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SatelliteSFD" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkEIRP" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TransponderOutputFallback" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CarrierOutputFallback" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkBandwidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SatelliteInPower" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SatelliteGain" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownCarrierFallback" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UpTotalLoss" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownlinkTotalLoss" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RollOff" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SymbolRate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Rate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ModulationOrder" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="InformationRate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BitRate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ThresholdEbN0" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MarginEbN0" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="EbN0" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Show" serializeAs="String">
    <value>Collapsed</value>
   </setting>
   <setting name="RxAntennaNoiseTemperature" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RxFeedlineLoss" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NoiseFigure" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TxFeedlineLoss" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TransponderSaturated" serializeAs="String">
    <value />
   </setting>
  </SatelliteLinkCalculator.Properties.Settings>
 </userSettings>
</configuration>
